# **Limpezados dados**

In [ ]:
import pandas as pd
import datetime as dt


hist0 = pd.read_json('StreamingHistory0.json')
hist1 = pd.read_json('StreamingHistory1.json')
hist2 = pd.read_json('StreamingHistory2.json')

In [ ]:
#Concatenação dos arquivos StreamingHistory0, StreamingHistory1 e StreamingHistory2.
frames=[hist0, hist1, hist2]
df = pd.concat(frames)
df.head()

            endTime  ... msPlayed
0  2020-07-17 19:41  ...    67100
1  2020-07-18 23:29  ...    15623
2  2020-07-18 23:31  ...   155798
3  2020-07-18 23:33  ...   129782
4  2020-07-18 23:35  ...   102750

[5 rows x 4 columns]

In [ ]:
# Convertendo o tipo de dado e a coluna endTime e fragmentando-a
df['endTime'] = pd.to_datetime(df['endTime'],format='%Y%m%d %H:%M')
df['ano'] = df['endTime'].dt.year
df['mes'] = df['endTime'].dt.month_name()
df['dia'] = df['endTime'].dt.day
df['dia da semana'] = df['endTime'].dt.day_name()
df['hora do dia'] = df['endTime'].dt.hour
df.head()

              endTime     artistName  ... dia da semana  hora do dia
0 2020-07-17 19:41:00  Gloria Groove  ...        Friday           19
1 2020-07-18 23:29:00  Gloria Groove  ...      Saturday           23
2 2020-07-18 23:31:00          Vitão  ...      Saturday           23
3 2020-07-18 23:33:00    Luísa Sonza  ...      Saturday           23
4 2020-07-18 23:35:00   Jason Derulo  ...      Saturday           23

[5 rows x 9 columns]

In [ ]:
# informações sobre os tipos de dados por colunas 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21530 entries, 0 to 1529
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   endTime        21530 non-null  datetime64[ns]
 1   artistName     21530 non-null  object
 2   trackName      21530 non-null  object
 3   msPlayed       21530 non-null  int64
 4   ano            21530 non-null  int64
 5   mes            21530 non-null  object
 6   dia            21530 non-null  int64
 7   dia da semana  21530 non-null  object
 8   hora do dia    21530 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.6+ MB

In [ ]:
df.head()

              endTime     artistName  ... dia da semana  hora do dia
0 2020-07-17 19:41:00  Gloria Groove  ...        Friday           19
1 2020-07-18 23:29:00  Gloria Groove  ...      Saturday           23
2 2020-07-18 23:31:00          Vitão  ...      Saturday           23
3 2020-07-18 23:33:00    Luísa Sonza  ...      Saturday           23
4 2020-07-18 23:35:00   Jason Derulo  ...      Saturday           23

[5 rows x 9 columns]

In [ ]:
df.rename(columns={'artistName':'nome do artista','trackName':'nome da musica'}, inplace=True)
df.head()

              endTime nome do artista  ... dia da semana  hora do dia
0 2020-07-17 19:41:00   Gloria Groove  ...        Friday           19
1 2020-07-18 23:29:00   Gloria Groove  ...      Saturday           23
2 2020-07-18 23:31:00           Vitão  ...      Saturday           23
3 2020-07-18 23:33:00     Luísa Sonza  ...      Saturday           23
4 2020-07-18 23:35:00    Jason Derulo  ...      Saturday           23

[5 rows x 9 columns]

# **Analise exploratória**

In [ ]:
#Top 5 artistas mais ouvidos (minuto)
top_5_artistas = df.groupby(['nome do artista'])['msPlayed'].sum().sort_values(ascending=False)
top_5_artistas.head()

nome do artista
Beyoncé            71751881
Sia                52880400
Destiny's Child    47854739
Amir               46737733
IZA                46011397
Name: msPlayed, dtype: int64

In [ ]:
#Top 5 músicas mais ouvidas (minuto)
top_5_musicas = df.groupby(['nome da musica'])['msPlayed'].sum().sort_values(ascending=False)
top_5_musicas.head()

nome da musica
BROWN SKIN GIRL                                   20089455
Hostage                                           16680898
Into the Unknown - Panic! At The Disco Version    15708901
J'ai cherché                                      13760296
Latch - Acoustic                                  12860987
Name: msPlayed, dtype: int64

In [ ]:
# Tempo total minutos 
total_min = df['msPlayed'].sum()
total_min

1235917906

In [ ]:
# Tempo total horas 
total_hora = df['msPlayed'].sum()/60
total_hora

20598631.766666666

In [ ]:
# Tempo total em dias 
total_dia = (df['msPlayed'].sum()/60)/24
total_dia

858276.323611111

In [ ]:
# Dias em que mais ouvi música
dias = df.groupby(['dia da semana'])
dias.sum().head()

                msPlayed      ano    dia  hora do dia
dia da semana
Friday         216029781  7843051  66197        38135
Monday         158994049  5495632  40232        27579
Saturday        66213023  3002556  26168        14936
Sunday          58497376  2085113  16641        10638
Thursday       249352923  8342882  63581        30572

In [ ]:
# ano em que mais ouvi música
ano = df.groupby(['ano'])['msPlayed'].sum().sort_values(ascending=False)
ano.head()

ano
2020    805382617
2021    430535289
Name: msPlayed, dtype: int64

In [ ]:
mes = df.groupby(['mes'])['msPlayed'].sum().sort_values(ascending=False)
mes.head()

mes
November     179203727
December     168044303
September    167892306
October      131590614
June         112490415
Name: msPlayed, dtype: int64

In [ ]:
#Musicas em que apertei o play mais vezes
mais_tocadas = df['nome da musica'].value_counts(ascending=False)
mais_tocadas.head(20)

Ice Cream (with Selena Gomez)                     143
Woman Like Me (feat. Nicki Minaj)                 130
Hostage                                           127
Into the Unknown - Panic! At The Disco Version    125
Desce Pro Play (PA PA PA)                         123
J'ai cherché                                      122
Bet You Wanna (feat. Cardi B)                     121
Fire Meet Gasoline                                118
Kill This Love                                    115
Who You Are                                       115
BROWN SKIN GIRL                                   114
Never Enough                                      111
Elastic Heart                                     109
Countdown                                         109
A Whole New World                                 108
Shallow                                           106
The Other Side                                    106
Legendary                                         104
Meu talismã                                       104
Black Magic                                       102
Name: nome da musica, dtype: int64

In [ ]:
artistas = df['nome do artista'].value_counts(ascending=False)
artistas

Beyoncé               870
IZA                   561
Sia                   524
Rihanna               521
Amir                  489
                     ...
Niara                   1
Brett Eldredge          1
X Ambassadors           1
Myrella Nascimento      1
Hoje Tem Podcast        1
Name: nome do artista, Length: 1369, dtype: int64

In [ ]:
df.head()

              endTime nome do artista  ... dia da semana  hora do dia
0 2020-07-17 19:41:00   Gloria Groove  ...        Friday           19
1 2020-07-18 23:29:00   Gloria Groove  ...      Saturday           23
2 2020-07-18 23:31:00           Vitão  ...      Saturday           23
3 2020-07-18 23:33:00     Luísa Sonza  ...      Saturday           23
4 2020-07-18 23:35:00    Jason Derulo  ...      Saturday           23

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21530 entries, 0 to 1529
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   endTime          21530 non-null  datetime64[ns]
 1   nome do artista  21530 non-null  object
 2   nome da musica   21530 non-null  object
 3   msPlayed         21530 non-null  int64
 4   ano              21530 non-null  int64
 5   mes              21530 non-null  object
 6   dia              21530 non-null  int64
 7   dia da semana    21530 non-null  object
 8   hora do dia      21530 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.6+ MB

In [ ]:
df.to_csv('spotify_case.csv', index=0)