In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/projeto_final/ifood_data/pedidos..csv')
df = df.drop(columns='id_usuario')
df.head()

    id_pedido                restaurante  ...  data_registro data_pedido
0  3075017489            The Pub Burguer  ...     2018-12-07  2021-04-10
1  2827561923  Restaurante Sabor Supremo  ...     2018-12-07  2021-01-28
2  2291203258                Zeus Burger  ...     2018-12-07  2020-09-21
3  2841155572  Restaurante Sabor Supremo  ...     2018-12-07  2021-02-01
4  2336480420        Olimpo Burger House  ...     2018-12-07  2020-10-04

[5 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_pedido      16 non-null     int64
 1   restaurante    16 non-null     object
 2   valor          16 non-null     float64
 3   status         16 non-null     object
 4   data_registro  16 non-null     object
 5   data_pedido    16 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 896.0+ bytes

In [ ]:
df['data_pedido'] = pd.to_datetime(df['data_pedido'],format='%Y%m%d %H:%M')
df['ano'] = df['data_pedido'].dt.year
df['mes'] = df['data_pedido'].dt.month_name()
df['dia'] = df['data_pedido'].dt.day
df['dia da semana'] = df['data_pedido'].dt.day_name()

In [ ]:
df.head()

    id_pedido                restaurante  valor  ...        mes dia dia da semana
0  3075017489            The Pub Burguer  25.58  ...      April  10      Saturday
1  2827561923  Restaurante Sabor Supremo  16.00  ...    January  28      Thursday
2  2291203258                Zeus Burger  26.40  ...  September  21        Monday
3  2841155572  Restaurante Sabor Supremo  16.00  ...   February   1        Monday
4  2336480420        Olimpo Burger House  29.50  ...    October   4        Sunday

[5 rows x 10 columns]

In [ ]:

df.head()

    id_pedido                restaurante  valor  ...        mes dia dia da semana
0  3075017489            The Pub Burguer  25.58  ...      April  10      Saturday
1  2827561923  Restaurante Sabor Supremo  16.00  ...    January  28      Thursday
2  2291203258                Zeus Burger  26.40  ...  September  21        Monday
3  2841155572  Restaurante Sabor Supremo  16.00  ...   February   1        Monday
4  2336480420        Olimpo Burger House  29.50  ...    October   4        Sunday

[5 rows x 10 columns]

In [ ]:
#valor total gasto
valor_total = df['valor'].sum()
valor_total

414.40999999999997

In [ ]:
# Restaurante em que mais pedi
top_restaurantes = df.groupby(['restaurante'])
top_restaurantes.sum().sort_values(by=['valor'], ascending=False)

                             id_pedido   valor    ano  dia
restaurante
The Pub Burguer            18145098324  154.61  12126   91
Pizzaria Di Duda            2676536349   63.00   2020   26
Olimpo Burger House         4434139719   53.50   4040   30
Geraldinos E Arquibaldos    3126922890   35.40   2021   25
Restaurante Sabor Supremo   5668717495   32.00   4042   29
Zeus Burger                 2291203258   26.40   2020   21
Dom Burger                  2521274512   25.50   2020   21
Sacolao Supremo             2831771911   16.00   2021   29
Kisabor Delivery            2764182603    8.00   2021   11

In [ ]:
#dias da semana em que mais peço
dia = df.groupby(['dia da semana'])['valor'].sum().sort_values(ascending=False)
dia

dia da semana
Sunday      163.61
Saturday    114.08
Friday       70.32
Monday       50.40
Thursday     16.00
Name: valor, dtype: float64

In [ ]:
dia.value_counts()

50.40     1
163.61    1
114.08    1
70.32     1
16.00     1
Name: valor, dtype: int64

In [ ]:
#Ano em que eu mais pedi
ano = df.groupby(['ano'])['valor'].sum().sort_values(ascending=False)
ano

ano
2021    246.01
2020    168.40
Name: valor, dtype: float64

In [ ]:
#Mês em que eu mais pedi
mes = df.groupby(['mes'])['valor'].sum().sort_values(ascending=False)
mes

mes
April        112.24
December      63.00
March         49.28
February      44.49
January       40.00
October       29.50
September     26.40
November      25.50
July          24.00
Name: valor, dtype: float64

In [ ]:
#maior valor de pedido 
maior_pedido = df['valor'].sort_values(ascending=False)
maior_pedido.head()

11    63.00
9     35.40
4     29.50
14    28.54
13    28.49
Name: valor, dtype: float64

In [ ]:
# N° de pedidos por restaurante
n_pedidos = df.restaurante.value_counts()
n_pedidos

The Pub Burguer              6
Olimpo Burger House          2
Restaurante Sabor Supremo    2
Sacolao Supremo              1
Kisabor Delivery             1
Pizzaria Di Duda             1
Geraldinos E Arquibaldos     1
Zeus Burger                  1
Dom Burger                   1
Name: restaurante, dtype: int64

In [ ]:
n_pedidos.value_counts()

1    6
2    2
6    1
Name: restaurante, dtype: int64

In [ ]:
rest = df['restaurante']=='The Pub Burguer'
rest.value_counts()

False    10
True      6
Name: restaurante, dtype: int64

In [ ]:
df.to_csv('ifood_case.csv', index=0)